
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


#style{
 
  background-color: #3d5998;;
  color: white;
  font-size: 20px;
  font-family: arial,sans-serif;
}